


.app-drag {
    -webkit-app-region: drag;
}

.app-no-drag{
    -webkit-app-region: no-drag;
}


.main-drawer.v-list, .main-drawer .v-list {
  background-color: transparent !important;
}

.v-list-group__header.v-list-item.v-list-item--active.v-list-item--link.theme--dark {
  color: #6cc9ff;
}




.main-menu .v-list-group__items {
  flex: 1 1 auto;
  border-left: 3px solid #00c6fb5e;
}

/*
.v-navigation-drawer:not(.v-navigation-drawer--mini-variant) .main-menu .v-list-group__items {
  padding-left: 8px;
  margin-left: 26px;
}
*/


html, body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    overflow-y: hidden !important;
    min-width: 300px;
}
html, body, .v-application, main{
  height:100%;
}


.theme--dark.menu-app-tint {
  background-color: #00000070 !important;
}

.theme--light.menu-app-tint {
  background-color: #ffffff24 !important;
}


.no-shrink {
  flex-shrink: 0;
}

.v-center {
  display: flex;
  align-items: center; 
  justify-content: center;
}


.main-drawer {
  background-color: #004088eb;
  height:100%;
}

.theme--light .v-content__wrap {
  background-color: #eaeaeae0;
}

.theme--dark .v-content__wrap {
  background-color: #2c2c2ce0;
}




.v-content__wrap {
  overflow: auto;
}

.v-application::before {
  background-image: url(https://wallup.net/wp-content/uploads/2016/01/188199-nature-sunset-mountain-lake-forest-landscape-water.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  filter: blur(5px);
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
}


*:focus, button:focus{
  outline: 0 !important;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525252;
}
::-webkit-scrollbar-thumb:active {
  background: #525252;
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #f3f3f3;
}
::-webkit-scrollbar-track:active {
  background: #f3f3f3;
}
::-webkit-scrollbar-corner {
  background: transparent;
}